@use './variables' as v;

:root {
    font-family: 'Poppins', Inter, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.5rem;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    color: v.$white;
    background-color: v.$black;
}

body {
    margin: 2rem 1rem 1rem 1rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 95vw;
}

::-webkit-scrollbar {
    width: 0.6rem;
}

::-webkit-scrollbar-track {
    background: v.$black;
}

::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    background: v.$gray;
    &:hover {
        background: scale-color(v.$gray, $lightness: +15%);
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-1rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOutLeft {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-1rem);
    }
}

.animate-fade-out-left {
    animation-name: fadeOutLeft;
    animation-duration: 0.5s;
}

.animate-fade-in-left {
    animation-name: fadeInLeft;
    animation-duration: 0.5s;
}

h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
    border: 0;
}

h1:focus,
h2:focus,
h3:focus,
p:focus {
    outline-style: none;
}

button,
input {
    background-color: v.$gray;
}

a {
    color: v.$primary;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button {
    border: solid 0.1rem v.$primary;
    border-radius: 3rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    color: v.$white;
    cursor: pointer;

    &:hover {
        background-color: scale-color(v.$gray, $lightness: +15%);
    }

    &:active {
        background-color: scale-color(v.$gray, $lightness: -15%);
    }
}
