$black: #232323;
$white: #fefefb;
$primary: #ff9737;
$secondary: #785d4a;
$gray: #4d4841;
$green: #49ebb1;
$fontsize: 1.25rem;

@mixin text-config {
    letter-spacing: 0.02rem;
    line-height: 2rem;
}

@mixin mx-auto {
    margin-left: auto;
    margin-right: auto;
}

@mixin page-size {
    width: 90vw;

    @media (min-width: 768px) {
        width: 65vw;
    }

    @media (min-width: 1024px) {
        width: 70ch;
    }
}

@mixin header-size {
    width: 90vw;

    @media (min-width: 768px) {
        width: 80vw;
    }

    @media (min-width: 1024px) {
        width: 95vw;
    }
}

@mixin font-size {
    font-size: $fontsize * 0.89;

    @media (min-width: 375px) {
        font-size: $fontsize;
    }
}

@mixin header-font-size {
    font-size: $fontsize * 1.25;

    @media (min-width: 375px) {
        font-size: $fontsize * 1.35;
    }
}

@mixin title-font-size {
    font-size: $fontsize * 1.65;
}

@mixin footer-font-size {
    font-size: $fontsize * 0.8;

    @media (min-width: 375px) {
        font-size: $fontsize * 0.9;
    }
}

@mixin nav-btn-font-size {
    font-size: $fontsize * 0.8;

    @media (min-width: 375px) {
        font-size: $fontsize;
    }
}

@mixin border-radius-small {
    border-radius: 0.5rem;
}

@mixin border-radius-strong {
    border-radius: 3rem;
}

@mixin border-radius-strongest {
    border-radius: 5rem;
}
